body {
    background-image: url("https://static.displate.com/857x1200/displate/2020-09-06/ff86d3256a2221073a5971bf543a1322_9cf186c927cfaf62b2f3ddf20193ebf6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color:white;
}
h1{
    text-align: center;
}
